/**
Minimal CSS 
Edwin Martin <edwin@bitstorm.org>
*/

/* Border box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Use hyphens */
body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
code, var, kbd, samp, tt
    abbr, acronym, blockquote, q {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Nicer table */
table {
	table-layout: fixed;
	border-collapse: collapse;
}

/* Better rendered text */
h1, h2, h3 {
   text-rendering: optimizeLegibility; 
}